
.owl-carousel {
	margin: 0;
}

.owl-carousel .owl-nav [class*=owl-] {
	background: rgba(0, 0, 0, 0.5);
	color: rgba(255, 255, 255, 0.9);
	font-size: 11px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 0;
	text-align: center;
}

.owl-carousel .owl-nav [class*=owl-]:hover {
	background: rgba(0, 0, 0, 0.9);
	color: #FFF;
}

.owl-carousel .owl-prev,
.owl-carousel .owl-next {
	position: absolute;
	top: 230px;
	height: 30px;
	margin: auto !important;
	margin-top: -30px !important;
}

.owl-carousel .owl-prev {
	left: 5px;
}

.owl-carousel .owl-next {

}

.owl-carousel .owl-dots {
	display: none !important;
}


/* OWL-1 element styles */
#owl-1 {
  margin-bottom: 0px;
	margin-left: 20px;
	margin-top: 0;
	position: absolute;
	width: 100%;
	z-index: 20;
}

#owl-1 .item {
	color: #000;
	padding: 5px;
	margin: 20px;
	margin-bottom: 30px;
	text-align: center;
	height: 700px;
}

#owl-1 .item .item_content {
	width: 900px;
	margin-top: 100px;
}

#owl-1 .item .item_content h4 {
	color: #fff;
	font-size: 2.3em;
	font-family: "Russo One";
	font-weight: 400;
	text-align: left;
}

#owl-1 .item .item_content p {
	color: #fff;
	font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  font-weight: 400;
	text-align: left;
	margin-top: 50px;
	margin-left: 130px;
}

#owl-1 .item img {
  margin: 0 auto;
}

/* End OWL-1 element styles */

#owl-2 {
	display: none;
}

#owl-2 .item {

}
